In [1]:
dict={
    '2019':[205,165,206,198],
    '2020':[177,175,157,183],
    '2021':[189,190,179,169]
}

index_of_sales_person=['Kapil','Kamini','Shikhar','Mohini']

import pandas as pd
sales=pd.DataFrame(dict,index=index_of_sales_person)
sales

         2019  2020  2021
Kapil     205   177   189
Kamini    165   175   190
Shikhar   206   157   179
Mohini    198   183   169

In [2]:
#display the row labels of sales
row_labels=sales.index.tolist()
row_labels

['Kapil', 'Kamini', 'Shikhar', 'Mohini']

In [3]:
#display the column labels of sales
col_labels=sales.columns.tolist()
col_labels

['2019', '2020', '2021']

In [ ]:
#display data type of each column of sales
print("Data types:", n)